@font-face {
	font-family: Burgers Perfect Regular;
	src: url('../public/src/assets/font/FontsFree-Net-Burgers-Perfect.ttf');
}

@font-face {
	font-family:  Bahnschrift Regular;
	src: url('../public/src/assets/font/bahnschrift.ttf');
}

@font-face {
	font-family:  Campuni Bol;
	src: url('../public/src/assets/font/CampuniDemo-Bold.otf');
}

@font-face {
	font-family:  Campuni Bl ;
	src: url('../public/src/assets/font/CampuniDemo-Black.otf');
}

@font-face {
	font-family:  Tusker Grotesk ;
  font-weight: 600;
	src: url('../public/src/assets/font/TuskerGrotesk-5600Semibold.ttf');
}

@font-face {
	font-family:  Tusker Grotesk M;
  font-weight: 300;
	src: url('../public/src/assets/font/TuskerGrotesk-2500Medium.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*NAVBAR*/

.NavBar{width: 100%;
background-color: #D43F64;
}



.link_c {
	font-family: Burgers Perfect Regular;
text-decoration: none;
list-style: none;
font-size: 2em;
gap: 100px;
}

.nav_link {
  color: white !important;
  letter-spacing: 1px;
}

.nav_link:hover {
  color: #fcd23e;
}

.offcanvas-custom{
  background-color: white;
}
.offcanvas-link{
  color: #D43F64;
  font-family: Burgers Perfect Regular;
}
.offcanvas-link:hover{
  color: #fcd23e;
}


@media (min-width: 481px) and ( max-width: 850px) {

  .offcanvas-link{
    font-size: 2.5em;
margin-top: 20px;
  }

  .offcanvas-link:hover{
    color: #fcd23e;
  }
  .offcanvas-custom{
    padding-top: 30px;
  }
  .navbar-toggle{
    border: none;
  }


}
@media (max-width: 480px) {
  .offcanvas-link{
    font-size: 2.2em;
    margin-top: 20px;
  }
  .offcanvas-link:hover{
    color: #fcd23e;
  }
  .offcanvas-custom{
    padding-top: 30px;
  }
  .navbar-toggle{
    border: none;
  }
}


/*BANNER*/


.banner-primary{
  width: 100%;
  background-color: #D43F64;
height: 850px;
padding-top: 10px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.banner-secundary{width: 100%;
  height: 500px;
  overflow: hidden;
margin: 20px auto 10px auto;
position: relative;

display: flex;
justify-content: center;
align-items: center;


}
.banner-terciary{
  width: 100%;
  height: 100px;
  z-index: 2;
  text-align: center;


}

.banner-terciary h2{
  color: #fcd23e;
	font-family:  Bahnschrift Regular;
  letter-spacing: 3px;
  font-size: 2.7em;
  
}


.loading-container{
  width: 100vw;
  height: 100vh;
  background-color: #fcd23e;

}

.counter{
height: 100%;
width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  color: #D43F64;
  padding: 0.2em 0.4em;
  font-size: 20vw;
	font-family: Burgers Perfect Regular;
}


 .headerH1{
position: relative;
color: white;
font-size: 25vw;
font-family:  Campuni Bl;
line-height: 2;
 }


 .item-group{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  height: 500px;
 }

  .header{
  width: 100%;
flex-direction: row;
background-image: url('../public/src/assets/img/icono_banner.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
z-index: 0;
height: 500px; 
justify-content: center;
align-items: center;
} 


 .overlay{
  position:absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
 }

 .overlay-cont{
  display: flex;
  flex-direction: row;
 }

 .bar{
  width: 10vw;
  height: 800px;
  background-color: #D43F64;
  z-index: -1;

 }

@media (min-width: 481px) and ( max-width: 850px) {
  .banner-primary{
  height: 600px;
  padding-top: 10px;
  }
  .banner-secundary{width: 100%;
    height: 400px;
  }
  .header{
    height: 400px;
    } 
  .item-group{
    height: 400px;
  }
  .counter{
      font-size: 30vw;
    }
    .banner-terciary{
      height: 30px;
      margin-top: 10px;
    }
    .banner-terciary h2{
      font-size: 1.5em;
    }

}
@media (max-width: 480px) {
  .banner-primary{
    height: 620px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    .banner-secundary{width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: -120px;
    }
    .banner-terciary{
      height: 30px;
      margin-top: 10px;
    }
    .header{
    height: 200px;
    } 
    
     .bar{
      height: 620px;
     }
     .item-group{
      height: 200px;
     }
    
    
    .banner-terciary h2{
      font-size: 1.2em;
    }

    .headerH1{
      font-size: 25vw ;
       }
       .counter{
        font-size: 33vw;
        padding-bottom: 100px;
      }
}

/*PRODUCTOS*/


.products-cont-gral{
width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
}

.text-product-h{
  width: 85%;
  margin:auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-product-h h1{
	font-family: Burgers Perfect Regular;
  font-size: 1.8em;
  color: #393b3b;
  letter-spacing: 3px;
}
.text-product-h h2{
	font-family:  Tusker Grotesk ;
  font-size: 4.3em;
  color: #D43F64;
  width: 60%;
  font-weight: 600;
}
.text-product-h h3{
	font-family:  Tusker Grotesk ;
  font-size: 4.3em;
  color: #D43F64;
  width: 60%;

}
.hh{display: inline-flex;
  width: 37%;

}
.h2{display: flex;
  width: 60%;

}

.CARD_CON{
  position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 90%;
margin: auto;


}
.CARD7{
width: 280px;
height: 280px;
  transition: all 1.5s ease;
  margin: auto;
}


.CARD_IMG{
  width: 100%;
}

.CARD_FLECHA{
  width: 50px;
}

.CARD_T{
  font-family:  Tusker Grotesk ;
  color: #393b3b;
}

.flip-gral{
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
}
    .flip-cont{
      width: 30%;
      margin: auto;
      width: 380px;
    }
    .CARD8{
      width: 280px;
      height: 280px;
      background-image: url("../public/src/assets/img/Slinte-nude.png");
      background-size: 100%;
      transition: transform 1.8s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    .CARD8 ul li{
color: #393b3b;
font-family:  Bahnschrift Regular;
font-size: 0.9em;
list-style: none;
text-align: center;

    }
    .CARD8 ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    .CARD8UL li{
      color: #393b3b;
font-family:  Bahnschrift Regular;
font-size: 1.2em!important;
list-style: none;
    }


@media (min-width: 481px) and ( max-width: 850px) {

    .flip-gral{
      width: 95%;
      display: flex;
      flex-direction: column;
height: 350px;
    }

        .flip-cont{
          margin:auto ;
          width: 250px;
        }
    .CARD_CON{
      display: flex;
      flex-wrap: wrap; 
    width: 100%;
    margin: auto;
    
    }

    .CARD7{
      height: 180px;
    width: 180px;
      transition: all 1.5s ease;

    }
    .CARD8{
      width: 180px;
      height: 180px;
    }
    .CARD8 ul li{
      font-size: 0.5em;
          }
    

.text-product-h h1{
	font-family: Burgers Perfect Regular;
  font-size: 1.5em;
  color: #393b3b;
  letter-spacing: 3px;
}
.text-product-h h2{
	font-family:  Tusker Grotesk ;
  font-size: 3.2em;
  color: #D43F64;
  width: 70%;
  font-weight: 600;
}

.CARD_T{
  padding-top: 3px;
  font-size: 1.6em;
}

.CARD_FLECHA{
  width: 30px;
}


}
@media (max-width: 480px) {
  .text-product-h{
    width: 85%;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  
  .text-product-h h1{
    font-family: Burgers Perfect Regular;
    font-size: 1.2em;
    color: #393b3b;
    letter-spacing: 3px;
  }
  .text-product-h h2{
    font-family:  Tusker Grotesk ;
    font-size: 2.2em;
    color: #D43F64;
    width: 80%;
    font-weight: 600;
  }

    .CARD_CON{
      display: flex;
flex-direction: column;
    width: 100%;

    
    }

    .CARD7{
      height: 240px;
    width: 240px;
      transition: all 1.5s ease;
    }
    
    .CARD_FLECHA{
      width: 35px;
    }
    .CARD_T{
      padding-top: 3px;
    }
    .CARD8{
      width: 240px;
      height: 240px;
      margin: 0;
    }
    .CARD8 ul li{
color: #393b3b;
font-family:  Bahnschrift Regular;
font-size: 0.7em;
    }
    .flip-gral{
      width: 100%;
      flex-direction: column;
      justify-content: center;

;
    }
        .flip-cont{
          width: 70%!important;
          height: 100%;
margin-left: 50px;
        }




}


/*FOOTER*/

.footer-cont-gral{
  width: 100%;
  height: 550px;
  background-color: #D43F64;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.C-3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pol_con{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pol_con a{
color: white;
padding: 0px;
text-decoration: none;
font-family:  Bahnschrift Regular!important;
font-size: 1.2em!important;
letter-spacing: 0px!important;
}

.footer-cont-gral span{
font-size: 0.8em;
color: #edece2;
margin-top: 20px;

}

.cont_footer{
  display: flex;
  flex-direction: column;
width: 80%;
margin: auto;
bottom: 0;
position: fixed;

}

.C-1, .C-3{

  margin: auto;
}

.C-2{
  margin: auto;

}
.C-2 img{
  width: 100%!important;
}

.social_co_i2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
vertical-align: middle;
height: 100px;
}

.social_co_i2 img {
  width: 60px!important;
}
.social_co_i2 a{
  padding-top: 0!important;
}


.C-2 h1{
  color: white;
  font-size: 1.8em;
  font-family:  Bahnschrift Regular;
}


.cont_footer img{
  width: 250px;
  padding-bottom: 40px;

}
.cont_footer a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 1.7em;
  padding-top: 20px;
  padding-left: 20px;
  letter-spacing: 2px;
}


.distr_inf{
  margin-top: 80px;
  width: 100%;
}
.distr_inf h2{
  color: white;
  font-size: 1.3em;
  font-family:  Bahnschrift Regular;
}
.distr_inf p{
  color: white;
	font-family:  Bahnschrift Regular;
  font-size: 1.7em;
}


@media (min-width: 481px) and ( max-width: 850px) {
  .footer-cont-gral{
    height: 400px;
    padding-top: 60px;
  }
  .distr_inf{
    margin-top: 20px;
  }
  .distr_inf h2{
    color: white;
    font-size: 0.9em;
    font-family:  Bahnschrift Regular;
  }
  .distr_inf p{
    color: white;
    font-family:  Bahnschrift Regular;
    font-size: 1em;
  }
  .pol_con{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pol_con a{
  color: white;
  padding: 5px;
  text-decoration: none;
  font-family:  Bahnschrift Regular!important;
  font-size: 0.9em!important;
  letter-spacing: 0px!important;
  }
  
  .footer-cont-gral span{
  font-size: 0.8em;
  color: #edece2;
  margin-top: 10px;
  }
  .cont_footer{
    display: flex;
    flex-direction: column;
  width: 100%;
  margin: auto;
  bottom: 0;
  position: fixed;

  }
  
.cont_footer img{
  width: 160px;
  padding-bottom: 20px;

}
.cont_footer a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 1.3em;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 2px;
}
.C-2 img{
  width: 100%!important;
}
.C-2 h1{
  font-size: 1em;
}

.social_co_i2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
vertical-align: middle;
height: 50px;
}

.social_co_i2 img {
  width: 30px!important;
}
.social_co_i2 a{
  padding-top: 0!important;
}
}
@media (max-width: 480px) {
  .cont_footer{
    display: flex;
    flex-direction: column;
  width: 80%;
  margin: auto;
  bottom: 0;
  position: fixed;
  height: 350px;
  }
  
.cont_footer img{
  width: 120px;
  padding-bottom: 20px;

}
.cont_footer a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 1em;
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 2px;
}
.C-2 img{
  width: 100%!important;
}
.C-2 h1{
  font-size: 1em;
}

.social_co_i2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
vertical-align: middle;
height: 50px;

}

.social_co_i2 img {
  width: 30px!important;
}
.social_co_i2 a{
  padding-top: 0!important;
}
.footer-cont-gral{
  height: 400px;
  padding-top: 60px;
}
.distr_inf{
  margin-top: 20px;
  
}
.distr_inf h2{
  color: white;
  font-size: 0.7em;
  font-family:  Bahnschrift Regular;
}
.distr_inf p{
  color: white;
	font-family:  Bahnschrift Regular;
  font-size: 0.8em;
}
.pol_con{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pol_con a{
color: white;
padding: 5px;
text-decoration: none;
font-family:  Bahnschrift Regular!important;
font-size: 0.7em!important;
letter-spacing: 0px!important;
}

.footer-cont-gral span{
font-size: 0.6em;
color: #edece2;
margin-top: 10px;

}
}
/* nesletter*/


.cont-form-gral{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edece2;
  border: 1px solid #edece2;

}


.letter{
margin: 100px;
}

.letter-1 h1{
  font-size: 3em;
  color:#D43F64;
  font-family:  Tusker Grotesk ;
}

.letter-1 h2{
  width: 50%;
  font-size: 1.2em;
  color: #393b3b;
	font-family:  Bahnschrift Regular;
  margin-top: 30px;
}

.letter form{
  width: 60%;
}

.letter form input{
border-bottom: 2px solid #393b3b;
width: 100%;
font-family: Burgers Perfect Regular;
font-size: 1.7em;
padding: 10px;
margin-top: 15px;
border-top: none;
border-left: none;
border-right: none;
background-color: transparent;
outline: none;
}

.row_form{
  margin-top: 40px;
}

.letter form textarea{
  border-bottom: 2px solid #393b3b;
width: 100%;
font-family: Burgers Perfect Regular;
font-size: 1.7em;
padding: 10px;
margin-top: 15px;
border-top: none;
border-left: none;
border-right: none;
background-color: transparent;
outline: none;
}

.letter form button{
  width: 50%;
  color: #edece2;
  background-color: #D43F64;
  font-family: Burgers Perfect Regular;
font-size: 1.5em;
border: 1px solid #D43F64;
border-radius: 20px;
margin-top: 30px;
letter-spacing: 3px;
padding: 3px;
}

.letter form button:hover{
  background-color: #393b3b;
  border: 1px solid #393b3b;
  transition: 0.5s ease;

}

@media (min-width: 481px) and ( max-width: 850px) {
  .letter-1 h1{
    font-size: 2em;
  }
  
  .letter-1 h2{
    width: 70%;
    font-size: 1.3em;
  }
  .letter form{
    width: 100%;
  }
  .letter{
    width: 100%;
  }

}
@media (max-width: 480px) {
  .letter-1 h1{
    font-size: 1.5em;
  }

  
  .letter-1 h2{
    width: 70%;
    font-size: 1em;
  }
  .letter form{
    width: 100%;
  }
  .letter{
    width: 100%;
    margin: 30px 0;
  }
  


.letter form button{
  width: 50%;
font-size: 1.2em;
margin-top: 0px;
}
.letter form input{
  font-size: 1.2em;
  margin-top: 0;
  }
  .cont-form-gral{
    padding-top: 50px;
  
  }
}

/*DETRAS DE FROODIE*/

.cont-cool-gral{
  width: 100%;
  height: 800px;
  background-color: #edece2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-col{
  width: 100%;
  margin: auto;
  background-color: #e0dec7;
  display: flex;
}

.text-fab{
  width: 40%;
  margin: 80px;
}

.text-fab h1{
  color: #D43F64;
  font-family:  Tusker Grotesk ;
font-size: 5em;
margin-top: 30px;
}

.text-fab h2{
  color: #393b3b;
	font-family:  Bahnschrift Regular;
  font-size: 1.3em;
  margin-top: 30px;
}

.text-fab button{
  width: 50%;
  color: #edece2;
  background-color: #D43F64;
  font-family: Burgers Perfect Regular;
font-size: 1.5em;
border: 1px solid #D43F64;
border-radius: 20px;
margin-top: 30px;
letter-spacing: 3px;
padding: 3px;
}

.text-fab button:hover{
  background-color: #393b3b;
  border: 1px solid #393b3b;
  transition: 0.5s ease;
}


.img-fab{
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.slinte{width: 670px;
  position: absolute;
z-index: 1;
}
.fabric{width: 700px;
  position: absolute;
z-index: 2;
border-radius: 20px;
}


@media (min-width: 481px) and ( max-width: 850px) {
  .text-fab{
    width: 95%;
    margin: 20px auto 20px 10px;
  }
  .img-fab{
    width: 100%;
  }
  .slinte{width: 340px;
    position: absolute;
  }
  .fabric{width: 350px;
  }
  .text-fab h1{
    font-size: 2.5em;
    margin-top: 30px;
    }
    
    .text-fab h2{
      font-size: 1em;
      margin-top: 30px;
    }
    .text-fab button{
      width: 50%;
    font-size: 1.2em;
    }
    
}
@media (max-width: 480px) {
  .fab-col{
    flex-direction: column;
  }
  .text-fab{
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-fab{
    width: 100%;
margin: 150px auto;
  }
  

.slinte{width: 340px;
  position: absolute;
}
.fabric{width: 350px;
}
  .text-fab h1{
  font-size: 2.7em;
  margin-top: 30px;
  }
  
  .text-fab h2{
    font-size: 1.2em;
    margin-top: 30px;
  }
  .text-fab button{
    width: 70%;
    color: #edece2;
  font-size: 1.5em;
  padding: 3px;

  }
}

/*BEST SELLERS*/

.bests-sellers-cont-gral{
  width: 100%;
  background-color: #edece2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.best__h{
  width: 85%;

}

.best__h h1{
  font-family: Burgers Perfect Regular;
  color: #393b3b;
  font-size: 1.8em;
  margin-top: 50px;
}
.best__h h2{
  font-family:  Tusker Grotesk ;
  color: #D43F64;
  font-size: 4em;
}

.cards_best_cont2{
  width: 90%;
  margin-top: 50px;
}

.card_best_seller{
  background-color: #dedcc7;
  padding: 20px;
  width: 400px!important;
  border-radius: 20px;
  border: 1px solid #dedcc7;
  height: 600px;
  margin: 0 auto 30px auto;
}
.card_best_seller:hover{
  background-color: #fcd23e;
}
.card_best_seller:hover .title_b_s{
  color: #000;
}
.card_best_seller:hover .img_best{
  transform: scale(1.02);
}
.card_best_seller:hover .cook_cont_ Button p{
  color: black;
}

.card_best_seller:hover .clock-icon{
  color: black;
}

.img_best{
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}
.img_best:hover{
transform: scale(1.02);
}

.title_b_s{
  font-family:  Tusker Grotesk ;
  color: #393b3b;
font-size: 1.8em;}

.cook_cont_{
display: flex;
flex-direction: row;
bottom: 0;
position: absolute;
width: 100%;
margin-bottom: 15px;
}

.clock-icon{
  color: #393b3b;
width: 30px;
}

.cook_cont_ Button{
  background-color: #edece2;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
border: 1px solid #edece2;}

.cook_cont_ Button p{
  color: #393b3b;
  font-size: 1em;
  font-family: Burgers Perfect Regular;
  margin: auto;

}


.button_b2{
  margin-left: 20px;
}

.cook_cont_ Button:hover{
  background-color: #edece2;
  border: 1px solid #edece2;
  cursor:default;
}

@media (min-width: 481px) and ( max-width: 850px) {
  .best__h{
    width: 85%;
  
  }
  
  .best__h h1{
    font-size: 1.5em;
    margin-top: 30px;
  }
  .best__h h2{
    font-size: 3em;
  }
  .cards_best_cont2{
    width: 95%;
  }
  
  .card_best_seller{
    padding: 15px;
    width: 230px!important;
    height: 400px;
    margin-bottom: 30px;
  }
  
  .img_best{
    height: 210px;
  }
  
  .title_b_s{
  font-size: 1.3em;}

  .cook_cont_{
    width: 100%;
    margin-bottom: 15px;
  left: 0;
margin-left: 5px;}
    
    .clock-icon{
      color: #393b3b;
    width: 30px;
    }
    
    
    .cook_cont_ Button{
      width: 42%;
      padding: 3px;}
    
    .cook_cont_ Button p{
      font-size: 0.8em;
      margin: auto;

    
    }
    
    .button_b2{
      margin-left: 20px;
    }
}
@media (max-width: 480px) {
  
.best__h{
  width: 97%;
}

.best__h h1{
  font-size: 1.3em;
  margin-top: 25px;
}
.best__h h2{
  font-size: 2.5em;
}
.cards_best_cont2{
  width: 95%;
margin: 20px auto;

}

.card_best_seller{
  padding: 15px;
  width: 300px!important;
  height: 480px;
  margin-bottom: 50px;
margin-left: 30px;


}
.img_best{
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.title_b_s{
font-size: 1.6em;}

.cook_cont_{
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
left: 0;
;

  }
  
  .clock-icon{
    color: #393b3b;
  width: 40px;
  }
  .button_b2{
    margin-left: 3px;
  }
  .cook_cont_ Button p{
    font-size: 1em;  
  }
  .clock-icon{
    color: #393b3b;
  width: 25px;
  }
  
  
  .cook_cont_ Button{
    width: 50%;}
}


/* MEET */

.meet-cont-gral{
  width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}


.cont_cook{
  width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
}

.cook_inst{
  width: 85%;
  margin: 40px auto;
  background-image: url(../public/src/assets/img/banner-cook.png);
  object-fit: contain;

  overflow: hidden;
  border-radius: 20px;
  background-size: cover; 
  background-repeat: no-repeat;
}

.h_co{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h_co h1{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 4.5em;
  margin-top: 70px;
}

.h_co h2{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 1.5em;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 1px;

}

.dv_co{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.dv_3{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 30%;
margin: auto;
}

.dv_3 h3{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 2.7em;
  margin-top: 20px;
}
.dv_3 h4{
  color: white;
}

.dv_3 img{
  width: 120px;
}

@media (min-width: 481px) and ( max-width: 850px) {
  .cook_inst{
    width: 90%;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  
.h_co{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h_co h1{
  font-size: 3.5em;
  margin-top: 70px;
}

.h_co h2{
  font-size: 1.1em;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.dv_co{
  margin-bottom: 30px;
} 
.dv_3{
  width: 30%;
  }
  
  .dv_3 h3{
    font-size: 2em;
    margin-top: 10px;
  }
  .dv_3 h4{
    color: white;
    font-size: 1.2em;
  }
  
  .dv_3 img{
    width: 100px;
  }
}
@media (max-width: 480px) {

  .meet-cont-gral{
    padding-top: 0px;
  }
  .cook_inst{
    width: 95%;
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  .h_co h1{
    font-size: 2.5em;
    margin-top: 40px;
  }
  
  .h_co h2{
    font-size: 1em;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 40px;  
  }
  .dv_co{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
.dv_3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  margin: auto;
  }
  
  .dv_3 h3{
    font-size: 2em;
    margin-top: 10px;
  }
  .dv_3 h4{
    color: white;
    font-size: 1em;
  }
  
  .dv_3 img{
    width: 90px;
  }
}

/* LOCATIONS POINTS*/
.cont_gral_loc_points{
  width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.cont_gral_loc_points h1{
  color: #393b3b;
  font-family:  Tusker Grotesk ;
  font-size: 3em;
text-align: center;
}

 .buttons_points{
  width: 70%;
  margin: 70px auto;
text-align: center;
}

.buttons_points a img{
  width: 200px;
  margin: 20px;
  
}

@media (min-width: 481px) and ( max-width: 850px) {
  .cont_gral_loc_points h1{
    font-size: 2.5em;
  }
  .buttons_points{
    width: 100%;
    margin: 40px auto;
  }
  .buttons_points a img{
    width: 150px;
    margin: 10px;
    
  }
}
@media (max-width: 480px) {
  .cont_gral_loc_points h1{
    font-size: 1.7em;
    margin: 0 10px;
  }
  .buttons_points{
    width: 100%;
    margin: 40px auto;
  }
  
  .buttons_points a img{
    width: 100px;
    margin: 10px;
  }
}

/*NOT FOUND*/

.not-found{
  background-color: #fcd23e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found h1{
  font-family:  Tusker Grotesk ;
  color: #D43F64;
  font-size: 5em;
}
.not-found h2{
  font-family:  Tusker Grotesk ;
  color: #D43F64;
}


@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {
  .not-found h1{
    font-size: 3em;
  }
}
/* Polit privacidad*/

.cont_priv_gral{
  background-color: #D43F64;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.politic{
  width: 80%;
  margin-top: 50px;
}

.politic h2{
  color: white;
  font-family:  Bahnschrift Regular;
  font-size: 1.2em;
}
.politic h3{
  color: white;
  font-family:  Bahnschrift Regular;
  font-size: 2em;
  margin-top: 30px;
}

.Termsycond{
  width: 80%;
  margin-top: 50px;
}

.Termsycond h2{
  color: white;
  font-family:  Bahnschrift Regular;
  font-size: 1.2em;
}
.Termsycond h3{
  color: white;
  font-family:  Bahnschrift Regular;
  font-size: 2em;
  margin-top: 30px;
}
@media (min-width: 481px) and ( max-width: 850px) {
  .politic h2{
    font-size: 1em;
  }
  .politic h3{
    font-size: 1.5em;
    margin-top: 30px;
  }
  .Termsycond h2{
    font-size: 1em;
  }
  .Termsycond h3{
    font-size: 1.5em;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .politic h2{
    font-size: 0.8em;
  }
  .politic h3{
    font-size: 1.2em;
    margin-top: 30px;
  }
  .Termsycond h2{
    font-size: 0.8em;
  }
  .Termsycond h3{
    font-size: 1.2em;
    margin-top: 30px;
  }
}