@font-face {
	font-family: Burgers Perfect Regular;
	src: url('../public/src/assets/font/FontsFree-Net-Burgers-Perfect.ttf');
}

@font-face {
	font-family:  Bahnschrift Regular;
	src: url('../public/src/assets/font/Bahnschrift\ Regular.ttf');
}

@font-face {
	font-family:  Campuni Bol;
	src: url('../public/src/assets/font/CampuniDemo-Bold.otf');
}

@font-face {
	font-family:  Campuni Bl ;
	src: url('../public/src/assets/font/CampuniDemo-Black.otf');
}

@font-face {
	font-family:  Tusker Grotesk ;
  font-weight: 600;
	src: url('../public/src/assets/font/TuskerGrotesk-5600Semibold.ttf');
}

@font-face {
	font-family:  Tusker Grotesk M;
  font-weight: 300;
	src: url('../public/src/assets/font/TuskerGrotesk-2500Medium.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.NavBar{width: 100%;
background-color: #D43F64;}

.logo-nav{width: 90px;}

.link_c {
	font-family: Burgers Perfect Regular;
text-decoration: none;
list-style: none;
font-size: 2em;

}

.nav_link {
  color: white !important;
  letter-spacing: 1px;
  gap: 50px;
}

@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}

.banner-primary{
  width: 100%;
  background-color: #D43F64;
height: 850px;
padding-top: 10px;
}

.banner-secundary{width: 100%;
  height: 800px;
  overflow: hidden;
margin: auto;
position: relative;
}

.banner-img{
  z-index: 1;
}
.banner-img img{width: 100%;
object-fit: cover;
overflow: hidden;
/* border-radius: 20px; */
}

.banner-slinte img{ 
  width: 650px; 
  height: auto;
  z-index: 2; 
}

.banner-slinte{
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin-left: 30px;
  margin-bottom: 30px;
}

.banner-text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 400px;
  margin-left: 60px;
  margin-top: 40px;

}

.banner-text h1 {
  color: #D43F64;
  font-size: 3em;
  font-family:  Tusker Grotesk ;
  text-align: left;

}
.banner-text h2 {
  color: #D43F64;
  font-size: 3.5em;
  font-family:  Tusker Grotesk ;

}
.banner-text h3 {
  color: #393b3b;
  font-size: 1.7em;
	font-family:  Bahnschrift Regular;
  margin-top: 60px;
  width: 80%;
  text-align: left;

}

.header{
  width: 100%;
  height: 800px;
flex-direction: row;
background-image: url('../public/src/assets/img/icono_banner.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
z-index: 10;
}

 .headerH1{
position: relative;
color: white;
font-size: 25vw;
font-family:  Campuni Bl;
line-height: 2;

 }

 .item-group{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;

 }

 .overlay{
  position:absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
 }

 .overlay-cont{
  display: flex;
  flex-direction: row;
 }

 .bar{
  width: 10vw;
  height: 800px;
  background-color: #D43F64;
  z-index: 0;

 }

@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}

.products-cont-gral{
  width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
}

.text-product-h{
  width: 85%;
  margin:auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-product-h h1{
	font-family: Burgers Perfect Regular;
  font-size: 1.8em;
  color: #393b3b;
  letter-spacing: 3px;
}
.text-product-h h2{
	font-family:  Tusker Grotesk ;
  font-size: 4.3em;
  color: #D43F64;
  width: 60%;
  font-weight: 600;
}
.text-product-h h3{
	font-family:  Tusker Grotesk ;
  font-size: 4.3em;
  color: #D43F64;
  width: 60%;

}
.hh{display: inline-flex;
  width: 37%;

}
.h2{display: flex;
  width: 60%;

}

.container__prod{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cont_prod_cat{
  height: 320px;
  width: 320px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}
.cont_prod_cat2{
  height: 320px;
  width: 320px;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin: auto;
cursor: pointer;
}
.cont_prod_cat2:hover{
  height: 950px;
  transition: 1.2s;
}

.cont_prod_cat2:hover .prod_slinte_nude2{
inset: -70px 0px 50px 0px;
position: absolute;
top: 0;

}

.cont_prod_cat2 ul{
  position: relative;
  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;

}

.cont_prod_cat2 li{
  list-style: none;
  font-size: 1.3em;
  margin-top: 20px;
  font-family:  Bahnschrift Regular;
}

.cont_prod_cat2:hover ul{
  opacity: 1;
  visibility: visible;
  transform: translateY(150px);
  /* transition-delay: 0.1s; */
}

.prod_slinte_nude2{
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: 0.4s;
}


 .cont_prod_cat3{
  height: 320px;
  width: 320px;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  margin: auto;
cursor: pointer;
}
.cont_prod_cat3:hover{
  height: 650px;
  transition: 1.2s;
}

.cont_prod_cat3:hover .prod_slinte_nude3{
inset: -70px 0px 50px 0px;
position: absolute;
top: 0;

}

.cont_prod_cat3 ul{
  position: relative;
  transform: translateY(100px);
  transition: 0.5s;
  opacity: 0;

}

.cont_prod_cat3 li{
  list-style: none;
  font-size: 1.3em;
  margin-top: 20px;
	font-family:  Bahnschrift Regular;
}

.cont_prod_cat3:hover ul{
  opacity: 1;
  visibility: visible;
  transform: translateY(150px);
  /* transition-delay: 0.1s; */
}

.prod_slinte_nude3{
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: 0.4s;
} 




.h3__cat{
  height: 100px;
  width: 300px;
  position: relative;
  display: flex;
  margin: auto;
}
.cont__h3__cat{
  width: 85%;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;

}
.h3__cat h3{
  color: #393b3b;
  font-family:  Tusker Grotesk M ;
  font-size: 3.5em;
  left: 0;
  top: 0;

}

.prod_slinte_nude{
  width: 100%;
  position: absolute;
  z-index: 1;
}



.prod_img_catg{
  width: 80%;
  position: absolute;
  z-index: 2;
}


.prod_flecha{
  width: 15%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;

}
.prod_slinte_nude_test{
  width: 100%;
  position: absolute;
  z-index: 1;
}



.prod_img_catg_test{
  width: 80%;
  position: absolute;
  z-index: 2;
}


.prod_flecha_test{
  width: 15%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;

}


@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}

.footer-cont-gral{
  width: 100%;
  height: 700px;
  background-color: #D43F64;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.copyrigth{
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items:center;
  position: fixed;
}

.C-3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pol_con{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pol_con a{
color: white;
padding: 20px;
text-decoration: none;
}

.footer-cont-gral span{
font-size: 0.8em;
color: #edece2;
margin-top: 20px;

}

.cont_footer{
border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
bottom: 0;
position: fixed;
}

.C-1, .C-2, .C-3{
  border: 2px solid blue;
}


.cont_footer img{
  width: 250px;
  padding-bottom: 40px;
}
.cont_footer a{
  text-decoration: none;
  list-style: none;
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 1.7em;
  padding-top: 20px;
}

.social_co{
  width: 30%;
  margin-top: 60px;
  margin-bottom: 50px;
  position: fixed;
}
.social_co img{
width: 100%;
}
.social_co h1{
  color: white;
  font-size: 1.8em;
  font-family:  Bahnschrift Regular;
}
.social_co_i{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.social_co_i img{
  width: 50px;
  height: 50px;
}
.social_co_i a{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 2.5em;
  padding-left: 20px;
  text-decoration: none;
}

.distr_inf{

  margin-top: 80px;
}
.distr_inf h2{
  color: white;
  font-size: 1.3em;
  font-family:  Bahnschrift Regular;
}
.distr_inf p{
  color: white;
	font-family:  Bahnschrift Regular;
  font-size: 1.5em;
}


@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}


.cont-form-gral{
  width: 100%;
  background-color: #edece2;
  border: 1px solid #edece2;
}


.letter{
margin: 100px;
}

.letter-1 h1{
  font-size: 3em;
  color:#D43F64;
  font-family:  Tusker Grotesk ;
}

.letter-1 h2{
  width: 50%;
  font-size: 1.2em;
  color: #393b3b;
	font-family:  Bahnschrift Regular;
  margin-top: 30px;
}

/* .letter-1 p{
  font-size: 1.6em;
  color: #D43F64;
  font-family:  Tusker Grotesk ;
} */

.letter form{
  width: 60%;
}

.letter form input{
border-bottom: 2px solid #393b3b;
width: 100%;
font-family: Burgers Perfect Regular;
font-size: 1.7em;
padding: 10px;
margin-top: 15px;
border-top: none;
border-left: none;
border-right: none;
background-color: transparent;
outline: none;
}

.row_form{
  margin-top: 40px;
}

.letter form textarea{
  border-bottom: 2px solid #393b3b;
width: 100%;
font-family: Burgers Perfect Regular;
font-size: 1.7em;
padding: 10px;
margin-top: 15px;
border-top: none;
border-left: none;
border-right: none;
background-color: transparent;
outline: none;
}

.letter form button{
  width: 50%;
  color: #edece2;
  background-color: #D43F64;
  font-family: Burgers Perfect Regular;
font-size: 1.5em;
border: 1px solid #D43F64;
border-radius: 20px;
margin-top: 30px;
letter-spacing: 3px;
padding: 3px;
}

.letter form button:hover{
  background-color: #393b3b;
  border: 1px solid #393b3b;
  transition: 0.5s ease;

}

@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}



.cont-cool-gral{
  width: 100%;
  height: 800px;
  background-color: #edece2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-col{
  width: 100%;
  margin: auto;
  background-color: #e0dec7;
  /* border-radius: 20px; */
  display: flex;
  height: 600px;
}

.text-fab{

  width: 40%;
  margin: 80px;
}

.text-fab h1{
  color: #D43F64;
  font-family:  Tusker Grotesk ;
font-size: 5em;
margin-top: 30px;
}

.text-fab h2{
  color: #393b3b;
	font-family:  Bahnschrift Regular;
  font-size: 1.3em;
  margin-top: 30px;
}

.text-fab button{
  width: 50%;
  color: #edece2;
  background-color: #D43F64;
  font-family: Burgers Perfect Regular;
font-size: 1.5em;
border: 1px solid #D43F64;
border-radius: 20px;
margin-top: 30px;
letter-spacing: 3px;
padding: 3px;
}

.text-fab button:hover{
  background-color: #393b3b;
  border: 1px solid #393b3b;
  transition: 0.5s ease;
}


.img-fab{
  width: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.slinte{width: 670px;
  position: absolute;
z-index: 1;
}
.fabric{width: 700px;
  position: absolute;
z-index: 2;
border-radius: 20px;
}


@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}


.cont-exp-gral{
  width: 100%;
  height: 800px;
  background-color: #edece2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.exp-col{
  width: 85%;
  height: 700px;
  margin: auto;
  background-color: #F0D7B0;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;

}

.img-exp{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
  position: absolute;

}

.slinte-cont-exp{
  z-index: 2;
  position: absolute;
  bottom: 0; 
  right: 0;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 40px;

}

.slinte-exp{
  width: 100%;
}

.slinte-cont-exp h1{
  z-index: 3;
  color: #edece2;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5em;
  position: absolute;
  padding-bottom: 150px;
 padding-left: 50px;
 font-family:  Tusker Grotesk ;
 

}
.slinte-cont-exp h2{
  z-index: 3;
  color: #edece2;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  position: absolute;
padding-top: 150px;
padding-left: 50px;
padding-right: 40px;
font-family:  Tusker Grotesk ;
}

.slinte-cont-exp button{
  position: absolute;
  width: 50%;
  margin-top: 350px;
  left: 0;
  margin-left: 50px;
  background-color: #00a950;
  color: #edece2;
  border: 1px solid #00a950;
  border-radius: 20px;
  padding: 3px;
  letter-spacing: 3px;
  font-family: Burgers Perfect Regular;
  font-size: 1.5em;
}

.slinte-cont-exp button:hover{
  background-color: #393b3b;
  border: 1px solid #393b3b;
  transition: 0.5s ease;}

  
@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}


.bests-sellers-cont-gral{
  width: 100%;
  height: 800px;
  background-color: #edece2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.best__h{
  width: 85%;

}

.best__h h1{
  font-family: Burgers Perfect Regular;
  color: #393b3b;
  font-size: 1.8em;
}
.best__h h2{
  font-family:  Tusker Grotesk ;
  color: #D43F64;
  font-size: 4em;
}

.cards_best_cont{
  width: 85%;
  display: flex;
justify-content: center;
margin: auto;

}

.img_best{
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.title_b_s{
  font-family:  Tusker Grotesk ;
  color: #393b3b;
font-size: 1.8em;}

.cook_cont_{

display: flex;
flex-direction: row;
bottom: 0;
position: absolute;
width: 100%;
margin-bottom: 15px;
}



.clock-icon{
  color: #393b3b;
width: 30px;

}


.card_best_seller{
  background-color: #dedcc7;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  border: 1px solid #dedcc7;
  height: 600px;
  margin: auto;
}

.cook_cont_ Button{
  background-color: #edece2;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
border: 1px solid #edece2;}

.cook_cont_ Button p{
  color: #393b3b;
  font-size: 1em;
  font-family: Burgers Perfect Regular;
  margin: auto;

}

.button_b2{
  margin-left: 20px;
}

.cook_cont_ Button:hover{
  background-color: #edece2;
  border: 1px solid #edece2;
  cursor:default;
}

@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}

.meet-cont-gral{
  width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.meet_container{
  border: 1px solid #393b3b;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
}



.carousel_img{
  width: 100%;
  height: 450px;
  object-fit: cover;
display: flex;

}

.carousel_item h3{
  color: white;
  font-size: 3em;
  width: 80%;
  margin: 20px auto;
  letter-spacing: 12px;
}

.carousel_item p{
  color: white;
  font-size: 1em;
  width: 80%;
  margin: auto;
  font-family:  Bahnschrift Regular;
}


.cont_car{
  border: 2px solid green;
  width: 40%;
  margin: auto;

}

.text_car{
  border: 2px solid orange;
  background-image: url(../public/src/assets/img/yellow.png);
  object-fit: contain;
  overflow: hidden;
  background-size: 100% 100%;
  height: 200px;
  margin-top: 30px;
}
.carou_h{
  border: 1px solid blue;
  width: 50%;
}

.carou_h h1{
  color: #D43F64;
  font-family:  Tusker Grotesk ;
  font-size: 4em;
  margin-top: 150px;
}
.carou_h h2{
  color: #393b3b;
  margin-top: 50px;
  font-family:  Tusker Grotesk ;


}


.flecha_green{
  height: 150px;
transform: scaleX(-1);
margin-top: 300px;}

.cont_cook{
  width: 100%;
  background-color: #edece2;
  display: flex;
  flex-direction: column;
  
}

.cook_inst{
  width: 85%;
  height: 700px;
  margin: 40px auto;
  background-image: url(../public/src/assets/img/banner-cook.png);
  object-fit: contain;
  background-size: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.h_co{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h_co h1{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 4.5em;
  margin-top: 70px;
}

.h_co h2{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 1.5em;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 1px;

}

.dv_co{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.dv_3{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 30%;
margin: auto;
}

.dv_3 h3{
  color: white;
  font-family:  Tusker Grotesk ;
  font-size: 2.7em;
  margin-top: 20px;
}
.dv_3 h4{
  color: white;
}

.dv_3 img{
  width: 120px;
}

@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}

.cont_gral_loc_points{
  width: 100%;
  height: 800px;
  background-color: #edece2;

  display: flex;
  flex-direction: column;

}

.cont_gral_loc_points h1{
  color: #393b3b;
  font-family:  Tusker Grotesk ;
  font-size: 3em;
text-align: center;
  

}



 .buttons_points{

  width: 70%;
  margin: 70px auto;

text-align: center;
}

.buttons_points a img{
  width: 200px;
  margin: 20px;
  
}

.pruebaProductos{
  border: 2px solid #00a950;
  margin: auto;
  width: 95%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  position: relative;
}

.pruebaProductos h1{
  font-size: 4.5em;
  color: #D43F64;
  align-self: flex-start;
  font-family:  Tusker Grotesk ;
}
.pruebaProductosDiv{
  border:2px solid #D43F64;
  width: 100%;
  height: 700px;
  position: relative;

}
.img_pack{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;

}

.pruebaProductosContImg{
  border: 2px solid black;
  width: 85%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -40px;
  left: 0;

}

.pruebaProductosContImg img{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;

}

.card_pastel{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
}

.card_body{
  width: 160px;
text-align:center;
}

.card_title_prueba{
font-size: 0.8em;
height: 20px;


}



.card_prueba{
  border-radius: 0;
  margin: auto;
  transition: transform 0.3s ease; 
}

.card_prueba:hover {
  transform: translateY(-10px); 
}



.pruebaProductosDivPostre{
  border:2px solid #D43F64;
  width: 100%;
  height: 600px;
  position: relative;

}


.pruebaProductosContImgPostre{
  border: 2px solid black;
  width: 45%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -40px;
  right: 0;

}

.pruebaProductosContImgPostre img{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;

}

.card_postre{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0;
}


.card_pruebaPostres {
  border-radius: 0;
  margin: auto;
  transition: transform 0.3s ease; 
}

.card_pruebaPostres:hover {
  transform: translateY(-10px); 
}


.pruebaProductosDivTarta{
  border:2px solid #D43F64;
  width: 100%;
  height: 600px;
  position: relative;

}


.pruebaProductosContImgTarta{
  border: 2px solid black;
  width: 45%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -40px;
left: 0;

}

.pruebaProductosContImgTarta img{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;

}

.card_tarta{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0;
}


.card_pruebatarta {
  border-radius: 0;
  margin: auto;
  transition: transform 0.3s ease; 
}

.card_pruebatarta:hover {
  transform: translateY(-10px); 
}


.pruebaProductosDivWrap{
  border:2px solid #D43F64;
  width: 100%;
  height: 450px;
  position: relative;

}


.pruebaProductosContImgWrap{
  border: 2px solid black;
  width: 55%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -40px;
  right: 0;

}

.pruebaProductosContImgWrap img{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  margin: auto;

}

.card_wrap{
  width: 160px;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0;
}


.card_pruebawrap {
  border-radius: 0;
  margin: auto;
  transition: transform 0.3s ease; 
}

.card_pruebawrap:hover {
  transform: translateY(-10px); 
}


@media (min-width: 481px) and ( max-width: 850px) {}
@media (max-width: 480px) {}

.loading-container{
  width: 100vw;
  height: 100vh;
  background-color: #fcd23e;

}

.counter{
height: 100%;
width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  color: #D43F64;
  padding: 0.2em 0.4em;
  font-size: 20vw;
	font-family: Burgers Perfect Regular;
}